<button (click)="nextText()">Text ({{ textIndex }})</button>

<div class="page-margins">
  <div class="display-1">Display1. {{ text }}</div>
  <div class="display-2">Display2. {{ text }}</div>
  <div class="display-3">Display3. {{ text }}</div>
  <div class="display-4">Display4. {{ text }}</div>
  <div class="display-5">Display5. {{ text }}</div>
  <div class="display-6">Display6. {{ text }}</div>

  <h1 class="h1">H1. {{ text }}</h1>
  <h2 class="h2">H2. {{ text }}</h2>
  <h3 class="h3">H3. {{ text }}</h3>
  <h4 class="h4">H4. {{ text }}</h4>
  <h5 class="h5">H5. {{ text }}</h5>
  <h6 class="h6">H6. {{ text }}</h6>

  <p class="p">P. {{ text }}</p>
  <p class="p">P. {{ text }}</p>
  <p class="p">P. {{ text }}</p>

  <ul class="ul">
    <li>LI. {{ text }}</li>
    <li>LI. {{ text }}</li>
    <li>LI. {{ text }}</li>
  </ul>
</div>
