<div class="page">
  <div class="page__content">
    <button (click)="nextText()">Text ({{ textIndex }})</button>

    <h1 class="h1 thin">H1 thin. {{ text }}</h1>
    <h2 class="h2 thin">H2 thin. {{ text }}</h2>
    <h3 class="h3 thin">H3 thin. {{ text }}</h3>
    <h4 class="h4 thin">H4 thin. {{ text }}</h4>
    <h5 class="h5 thin">H5 thin. {{ text }}</h5>
    <h6 class="h6 thin">H6 thin. {{ text }}</h6>

    <h1 class="h1">H1. {{ text }}</h1>
    <h2 class="h2">H2. {{ text }}</h2>
    <h3 class="h3">H3. {{ text }}</h3>
    <h4 class="h4">H4. {{ text }}</h4>
    <h5 class="h5">H5. {{ text }}</h5>
    <h6 class="h6">H6. {{ text }}</h6>

    <p class="paragraph">P. {{ text }}</p>
    <p class="paragraph">P. {{ text }}</p>
    <p class="paragraph">P. {{ text }}</p>

    <ul class="list">
      <li>LI. {{ text }}</li>
      <li>LI. {{ text }}</li>
      <li>LI. {{ text }}</li>
    </ul>
  </div>
</div>
