.icon {
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: middle;
}

$margin: 2.75rem;
$height: 2rem;

.big-icon {
  position: relative;
  display: inline-block;
  margin-left: $margin;
  line-height: $height;

  &::before {
    content: '';
    position: absolute;
    left: -#{$margin};
    width: $height;
    height: $height;
    border-radius: 50%;
  }

  &--tel::before {
    background: var(--primary) url(~src/assets/fa/phone-alt-solid.svg) center center no-repeat;
    background-size: 1rem;
  }

  &--email::before {
    background-size: 1.2rem !important;
    background: var(--primary) url(~src/assets/fa/at-solid.svg) center center no-repeat;
  }
}
