.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-bottom: 1px solid var(--border);

  &--centered {
    justify-content: center;
  }

  @media (orientation: landscape) {
    &--halo {
      background-color: var(--scene-muted);
      background-image: radial-gradient(
        circle at 33%,
        white 25vw,
        rgba(172, 225, 217, 0.1) 25vw,
        rgba(172, 225, 217, 0) 26vw,
        transparent 26vw
      );
    }
  }

  @media (orientation: portrait) {
    &--halo {
      background-color: var(--scene-muted);
      background-image: radial-gradient(
        circle at 33%,
        white 25vh,
        rgba(172, 225, 217, 0.1) 25vh,
        rgba(172, 225, 217, 0) 26vh,
        transparent 26vh
      );
    }
  }

  &__content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: var(--space-y);
    padding-bottom: var(--space-y);
    padding-left: var(--space-x);
    padding-right: var(--space-x);
  }

  @media (min-width: 1024px) {
    justify-content: center;
  }
}
