.reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;

    border-radius: 8px;
    padding: 1.5rem;

    background-color: #fff;

    @media (min-width: 1024px) {
      flex-basis: calc(50% - 1.5rem);
    }
  }
}
