$margin: 2.5rem;
$height: 2rem;

.big-icon {
  position: relative;
  display: inline-block;
  margin-left: $margin;
  line-height: $height;

  &::before {
    content: '';
    position: absolute;
    left: -#{$margin};
    width: $height;
    height: $height;
    border-radius: 50%;
    // animation: pulseAnim 2s infinite;
  }

  &--tel::before {
    background: var(--primary) url(~src/assets/phone-alt-solid.svg) center center no-repeat;
    background-size: 1rem;
  }

  &--email::before {
    background-size: 1.2rem !important;
    background: var(--primary) url(~src/assets/at-solid.svg) center center no-repeat;
  }
}

@keyframes pulseAnim {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(17, 110, 238, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(17, 110, 238, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(17, 110, 238, 0);
  }
}
