.h1 {
  font-size: 2.5rem;
}
.h2 {
  font-size: 2rem;
}
.h3 {
  font-size: 1.75rem;
}
.h4 {
  font-size: 1.5rem;
}
.h5 {
  font-size: 1.25rem;
}
.h6 {
  font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: 800;
}

.thin {
  font-weight: 200;
}

.paragraph,
.list {
  margin-bottom: 1rem;
}

.list > li {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;

  &:before {
    content: '▹';
    position: absolute;
    left: 0;
  }
}

.link {
  &,
  &:visited {
    cursor: pointer;
    border-bottom: 1px solid currentColor;
    transition: border-bottom ease 200ms;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom-width: 3px;
  }
}
