.h1 {
  font-size: 2.5rem;
}
.h2 {
  font-size: 2rem;
}
.h3 {
  font-size: 1.75rem;
}
.h4 {
  font-size: 1.5rem;
}
.h5 {
  font-size: 1.25rem;
}
.h6 {
  font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 800;
}

.default-line-height {
  line-height: 1.5;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: 800;
}

.paragraph,
.list {
  margin-bottom: 1rem;
}

.list > li {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 1em;

  &::before {
    content: '▹';
    position: absolute;
    left: 0;
    transform: scale(1.2);
    opacity: 0.5;
  }
}

.link {
  &,
  &:visited {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
    transition: color ease 200ms;
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--primary);
  }
}
