:root {
  --border: #ddd;
  --scene: #fff;
  --scene-muted: #eee;
  --text: #555;
  --primary: #111;
  --secondary: #999;

  --space-x: clamp(1.5rem, 5vw, 70px);
  --space-y: clamp(1.5rem, 5vh, 70px);
}
