$font-family: 'Mukta', sans-serif;

:root {
  --border: #ace1d9;
  --scene: #fff;
  --scene-muted: #e0f3f0;
  --text: #3b3242;
  --primary: #eb7069;
  --secondary: #f8ba60;

  --space-x: clamp(1.5rem, 5vw, 70px);
  --space-y: clamp(1.5rem, 5vh, 70px);
}

/*
list-of-colors {
  --border: #ace1d9;
  --scene: #fff;
  --scene-muted: #e0f3f0;
  --text: #3b3242;
  --primary: #eb7069;
  --secondary: #f8ba60;
}
*/
