$anim-duration: 0.5s;

.app-nav {
  &__burger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--text) url(~src/assets/ellipsis-vertical-solid.svg) no-repeat center;
    background-size: 1.5rem 1.5rem;
    color: var(--scene);
    transform: rotate(90deg);
    transition: transform ease $anim-duration;

    &--opened {
      transform: rotate(-180deg);
    }
  }

  &__bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--text);

      border-radius: 50%;
      animation: menuBgAnim ease-out $anim-duration forwards;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    overflow: auto;
    color: var(--scene);
  }

  &-menu {
    display: flex;

    &__content {
      margin: auto;
      padding: 24px;

      animation: menuContentAnim ease-in-out $anim-duration normal;
    }
  }
}

@media (orientation: landscape) {
  @keyframes menuBgAnim {
    0% {
      top: 1rem;
      right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    5% {
      top: -1rem;
      right: -1rem;
      width: 6.5rem;
      height: 6.5rem;
    }
    100% {
      top: -150vw;
      right: -150vw;
      width: 300vw;
      height: 300vw;
    }
  }
}

@media (orientation: portrait) {
  @keyframes menuBgAnim {
    0% {
      top: 1rem;
      right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    5% {
      top: -1rem;
      right: -1rem;
      width: 6.5rem;
      height: 6.5rem;
    }
    100% {
      top: -150vh;
      right: -150vh;
      width: 300vh;
      height: 300vh;
    }
  }
}

@keyframes menuContentAnim {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
