.app-nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;

  &__burger {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--text) url(~src/assets/ellipsis-vertical-solid.svg) no-repeat center;
    background-size: 1.5rem 1.5rem;
    color: var(--scene);

    outline: 0;
    transition: transform ease 250ms;
    transform: rotate(-90deg);
    &--opened {
      transform: rotate(0deg);
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--text);
    color: var(--scene);
    overflow: auto;
  }

  &-menu {
    display: flex;

    &__content {
      margin: auto;
      padding: 24px;
    }
  }
}
