<button class="app-nav__burger" [class.app-nav__burger--opened]="isMenuOpened" (click)="toggleMenu()">
  <span class="app-nav-burger"></span>
</button>

<div *ngIf="isMenuOpened" class="app-nav__bg"></div>

<div *ngIf="isMenuOpened" class="app-nav__menu app-nav-menu">
  <div class="app-nav-menu__content">
    <h3 class="h1">Menu</h3>

    <ul class="list h4 thin">
      <li><a class="link" (click)="navigate('accueil')">Accueil</a></li>

      <li><a class="link" (click)="navigate('demarche')">Ma démarche d'orthopédagogue</a></li>

      <li><a class="link" (click)="navigate('parcours')">Mon parcours</a></li>

      <li><a class="link" (click)="navigate('outils')">Les outils</a></li>

      <li>
        Accompagnement&nbsp;:

        <ul class="list">
          <li><a class="link" (click)="navigate('accompagnement-collectif')">collectif</a></li>

          <li><a class="link" (click)="navigate('accompagnement-individuel')">individuel</a></li>
        </ul>
      </li>

      <li><a class="link" (click)="navigate('temoignages')">Témoignages</a></li>

      <li><a class="link" (click)="navigate('contact')">Me contacter</a></li>
    </ul>
  </div>
</div>
