<img src="assets/reshot-icon-study-success.svg" class="icon" alt="" />

<h3 class="h3">Témoignages</h3>

<div class="app-reviews-content">
  <div class="app-reviews-content__item">
    Par P.A. Unanimement, les enseignantes ont beaucoup apprécié votre intervention à tel point que cela a été réinvesti
    de suite dans les classes. Dorénavant cela fait partie intégrante de leurs pratiques éducatives. Je me fais
    l'interprète de toutes pour dire qu'une suite de la formation serait la bienvenue. Cordialement . P.A.
  </div>

  <div class="app-reviews-content__item">
    Par V.P Bienveillante, compétente et très professionnelle, elle a toujours été présente et d'une grande aide pour
    mon fils. Elle l'a aidé en maternelle et en primaire, et au moment de passer le brevet, c'est vers elle qu'il s'est
    tourné. Elle leur fait confiance, leur donne confiance et c'est réciproque.
  </div>

  <div class="app-reviews-content__item">
    Par S.A J'ai assisté à un cours de carte mentale de Janie Harros. Cette méthode permet de réveiller sa créativité,
    de trouver des solutions inattendues et d'organiser sa pensée. Janie est une excellente pédagogue, qui avec sont
    attention et sa bienveillance nous amène à intégrer cet outil dans notre quotidien personnel ou professionnel.
  </div>

  <div class="app-reviews-content__item">
    Par JL D Merci pour ces 2 jours. Concrètement, je viens déjà de passer 2 matinées (mardi et mercredi) et 2 soirées
    (lundi et mardi) sans aucunes tensions à la maison. Je dirai même plus : détendues et gaies. Qu'ai-je fait ?
    Essentiellement écouter avec empathie et présence.
  </div>

  <div class="app-reviews-content__item">
    Par M.A Nous reprenons nos fonctions , imprégnés de votre "super" formation. J'ai beaucoup apprécié nos échanges
    tant sur le plan de nos pratiques que sur celui des difficultés rencontrées avec nos jeunes. Globalement, nous nous
    sommes tous reconnus dans des situations évoquées où vous nous avez apporté soutien et accompagnement, conseils dans
    notre vécu professionnel. Personnellement, j'ai ressenti un mieux être, de la chaleur humaine, de la bienveillance
    dans ce groupe , en me disant que chacun avait un potentiel et des capacités à ... Vous avez apporté de nouveaux
    ingrédients à chacune de nos recettes et j'espère utilisé quelques clés pour améliorer les liens de communication.
    Il n'y a plus qu'à .... Encore merci pour cette formation aussi riche qu'agréable.
  </div>
</div>
