<app-nav></app-nav>

<app-page centered imagePath="/assets/photos/library.jpg">
  <h1 class="display-5">Noga Conseil</h1>
  <h2 class="h1">
    <div style="color: #999">Apprendre plus facilement</div>
    Mémoriser plus longtemps
  </h2>
</app-page>

<app-page style="background-color: #eee" id="demarche">
  <img src="assets/reshot-icon-career-choice.svg" class="icon" alt="" />
  <h3 class="h2">Ma démarche d'orthopédagogue</h3>
  <p class="display-5">
    J'accompagne de jeunes décrocheurs pour leur redonner le plaisir d'apprendre. Bien qu'ils soient capables de
    s'organiser (pour prévoir un anniversaire-surprise), de raisonner (pour convaincre un parent de passer la soirée
    chez un copain), de mémoriser (les résultats des rencontres de foot), dès qu'il s'agit d'école ils sont
    perdus&nbsp;: ils ne retiennent plus leurs leçons ou oublient leur matériel. Je les entraîne à mettre en place un
    raisonnement métacognitif pour rendre explicites les stratégies qu'ils utilisent.
  </p>
  <p class="display-5">
    J'interviens auprès des individus pour qu'ils développent leur potentiel d'apprentissage&nbsp;: il ne s'agit pas de
    viser un modèle mais de les amener à exploiter au mieux leur potentiel en s'appuyant sur leurs points forts.
  </p>
  <p class="display-5">J'aide les salariés à redonner du sens et de la légèreté à leur travail.</p>
  <p class="display-5">
    Et, plus que tout, je suis convaincue qu'une posture bienveillante permet d'étayer les apprentissages.
  </p>
</app-page>

<app-page id="parcours">
  <img src="assets/reshot-icon-adventure.svg" class="icon" alt="" />
  <h3 class="h2">Mon parcours</h3>
  <p class="display-5">Tout s’est joué il y a 20 ans.</p>
  <p class="display-5">
    Je pilote alors un projet de lutte contre l'illetrisme fondé sur la méthode de remédiation cognitive du Professeur
    Feuerstein, le PEI (Programme d'Enrichissement Instrumental). Je suis stupéfaite par les résultats obtenus: une
    femme de 45 ans passe enfin son permis de conduire, un père de plus de 50 ans aide, pour la première fois, ses
    enfants à faire leurs devoirs...
  </p>
  <p class="display-5">
    Parallèlement, je suis bousculée par les parcours scolaires des mes 4 enfants, qui remettent en question mes
    certitudes quant aux apprentissages. Je décide alors de faire le lien entre ma vie personnelle et ma vie
    professionnelle et je me forme à des outils qui font progresser les individus et les organisations.
  </p>
</app-page>

<app-page id="accompagnement-collectif">
  <app-card imagePath="assets/people.jpg">
    <!--<img src="assets/reshot-icon-community.svg" class="icon" alt="" />-->
    <h3 class="h2">
      Accompagnement<br />
      <span style="color: #999">collectif</span><br />
    </h3>
    <ul class="ul">
      <li>Augmenter l'efficacité et le bien être des équipes</li>
      <li>Encourager la coopération et le partage des savoirs</li>
      <li>Motiver vos collaborateurs</li>
    </ul>
    <p class="display-6">Des formations et conférences en présence, à distance ou en blended learning.</p>
  </app-card>
</app-page>

<app-page id="accompagnement-individuel">
  <app-card imagePath="assets/studying.jpg">
    <!--<img src="assets/reshot-icon-home-education.svg" class="icon" alt="" />-->
    <h3 class="h3">
      Accompagnement<br />
      <span style="color: #999">individuel</span>
    </h3>
    <ul class="ul">
      <li>Mieux gérer son temps</li>
      <li>Apprendre plus facilement et mémoriser plus longtemps</li>
      <li>(Re)trouver le plaisir d'apprendre</li>
    </ul>
    <p class="display-6">
      Un accompagnement pour (re)trouver confiance en soi et progresser en présence ou à distance.
    </p>
  </app-card>
</app-page>

<app-page style="background-color: #eee" id="temoignages">
  <img src="assets/reshot-icon-study-success.svg" class="icon" alt="" />
  <h3 class="h3">Témoignages</h3>
  <div class="reviews">
    <div class="review">
      Par P.A. Unanimement, les enseignantes ont beaucoup apprécié votre intervention à tel point que cela a été
      réinvesti de suite dans les classes. Dorénavant cela fait partie intégrante de leurs pratiques éducatives. Je me
      fais l'interprète de toutes pour dire qu'une suite de la formation serait la bienvenue. Cordialement . P.A.
    </div>
    <div class="review">
      Par V.P Bienveillante, compétente et très professionnelle, elle a toujours été présente et d'une grande aide pour
      mon fils. Elle l'a aidé en maternelle et en primaire, et au moment de passer le brevet, c'est vers elle qu'il
      s'est tourné. Elle leur fait confiance, leur donne confiance et c'est réciproque.
    </div>
    <div class="review">
      Par S.A J'ai assisté à un cours de carte mentale de Janie Harros. Cette méthode permet de réveiller sa créativité,
      de trouver des solutions inattendues et d'organiser sa pensée. Janie est une excellente pédagogue, qui avec sont
      attention et sa bienveillance nous amène à intégrer cet outil dans notre quotidien personnel ou professionnel.
    </div>
    <div class="review">
      Par JL D Merci pour ces 2 jours. Concrètement, je viens déjà de passer 2 matinées (mardi et mercredi) et 2 soirées
      (lundi et mardi) sans aucunes tensions à la maison. Je dirai même plus : détendues et gaies. Qu'ai-je fait ?
      Essentiellement écouter avec empathie et présence.
    </div>
    <div class="review">
      Par M.A Nous reprenons nos fonctions , imprégnés de votre "super" formation. J'ai beaucoup apprécié nos échanges
      tant sur le plan de nos pratiques que sur celui des difficultés rencontrées avec nos jeunes. Globalement, nous
      nous sommes tous reconnus dans des situations évoquées où vous nous avez apporté soutien et accompagnement,
      conseils dans notre vécu professionnel. Personnellement, j'ai ressenti un mieux être, de la chaleur humaine, de la
      bienveillance dans ce groupe , en me disant que chacun avait un potentiel et des capacités à ... Vous avez apporté
      de nouveaux ingrédients à chacune de nos recettes et j'espère utilisé quelques clés pour améliorer les liens de
      communication. Il n'y a plus qu'à .... Encore merci pour cette formation aussi riche qu'agréable.
    </div>
  </div>
</app-page>

<app-page centered id="contact">
  <h3 class="h3">Nous contacter</h3>
  <p class="p">
    <a href="tel:+33769082235" class="tel">07 69 08 22 35</a>
  </p>
  <p class="p">
    <a
      style="font-size: 2rem"
      class="email-link"
      href="mailto:janie.haross@gmail.com"
      rel="noopener noreferrer"
      target="_blank"
      >Par e-mail</a
    >
  </p>
</app-page>

<!--<app-page centered>
  <h1 class="app-home-brand">Noga Conseil</h1>
  <h2 class="app-home-guidelines">
    <div class="app-home-guidelines__muted">Apprendre plus facilement</div>
    Mémoriser plus longtemps
  </h2>
</app-page>

<app-page>
  <app-card imagePath="assets/people.jpg">
    <h3 class="app-home-title">Accompagnement collectif</h3>
    <ul class="ul">
      <li>augmenter l'efficacité et le bien être des équipes</li>
      <li>encourager la coopération et le partage des savoirs</li>
      <li>motiver vos collaborateurs</li>
    </ul>
    <p>Des formations et conférences en présence, à distance ou en blended learning.</p>
  </app-card>
</app-page>

<app-page>
  <app-card imagePath="assets/student.jpg">
    <h3 class="app-home-title">Accompagnement individuel</h3>
    <ul class="ul">
      <li>mieux gérer son temps</li>
      <li>apprendre plus facilement et mémoriser plus longtemps</li>
      <li>(re)trouver le plaisir d'apprendre</li>
    </ul>
    <p>Un accompagnement pour (re)trouver confiance en soi et progresser en présence ou à distance.</p>
  </app-card>
</app-page>-->
