<app-nav></app-nav>

<section class="page page--centered" id="accueil">
  <app-landing class="page__content"></app-landing>
</section>

<section class="page bg-scene-muted" id="demarche">
  <app-approach class="page__content"></app-approach>
</section>

<section class="page" id="parcours">
  <app-about class="page__content"></app-about>
</section>

<section class="page bg-scene-muted" id="methodologie">
  <div class="page__content">
    <img src="assets/reshot-icon-geometry.svg" class="icon" alt="" />
    <h3 class="h3">Methodologie</h3>

    <ul class="list">
      <li>PEI (Programme d'Enrichissement Instrumental)</li>
      <li>Facilitation visuelle</li>
      <li>S'entraîner à être attentif</li>
      <li>Mieux apprendre avec les neurosciences</li>
      <li>Comminication bienveillante</li>
    </ul>
  </div>
</section>

<section class="page" id="accompagnement-collectif">
  <app-collective-coaching></app-collective-coaching>
</section>

<section class="page" id="accompagnement-individuel">
  <app-individual-coaching></app-individual-coaching>
</section>

<section class="page bg-scene-muted" id="temoignages">
  <app-reviews class="page__content"></app-reviews>
</section>

<section class="page page--centered" id="contact">
  <app-contact class="page__content"></app-contact>
</section>
