.app-home {
  /*
  &-landing::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    background-image: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
      url(~src/assets/photos/pexels-cottonbro-studio.jpg);
  }
  */

  &-brand {
    font-size: max(1.25rem, 2vw);
  }

  &-guidelines {
    font-size: max(2.5rem, 4vw);
    font-weight: 800;

    &__muted {
      color: #999888; // TODO: use a variable
    }
  }

  &-title {
    margin-bottom: 1rem;
    font-size: max(2rem, 3vw);
    font-weight: 400;
  }
}
